*{
    margin: 0;
    padding: 0;
}
@import "variables";

body{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(148, 199, 199));
}
.barra{
    background-color: $colorPrimario;
    margin-bottom: 10px;
    ul{
        list-style: none;
        display: flex;
        justify-content: end;
    
        li{
            padding: 10px;
        
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                opacity: .80;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}